

.reset__link{
    text-decoration: none;
    display: inline-block;
}

.separator{
    margin-top: 1em;
}

.containerMainPokemon{
    display: grid;
    grid-template-rows: 350px 350px 350px;
    grid-template-columns: 310px;
    justify-content: center;
}

@media screen and (min-width: 700px){
    .containerMainPokemon{
        display: grid;
        grid-template-rows: 400px 400px;
        grid-template-columns:  350px 300px;
        justify-content: center;


    }
}

@media screen and (min-width: 1000px){
    .containerMainPokemon{
        display: grid;
        grid-template-rows: 400px 400px;
        grid-template-columns:  350px 350px 300px;
        justify-content: center;


    }
}
.pokemonTitle{
    text-align: center;
    font-family: albattar;
    color: darkblue;
    font-weight: 500;

}
.imagePokemon{
    width: 100%;
    height:100%;
    transform: scale(.8);
    transition: 1s;
}
.containerPokemon{
    padding-bottom: 1em;
    position: relative;
    margin:.5em;
    width: 310px;
    height: 310px;
    text-align: center;
    margin-left: -.1em;
    margin-top: 1em;
    background-color: white;
    border: 1px solid rgba(1%, 1%, 40%, 20%);
    border-radius: 8px;
    margin-bottom: 3em;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 5px 9px 10px 8px #eee;
}
.containerPokemon:hover{
    cursor:pointer;
    box-shadow: 1px 1px 15px 8px rgba(1%, 1%, 20%, 30%);
}
.containerPokemon:hover .imagePokemon{
    transform: scale(.9) rotate(10deg);
    transition: 1s .5s;
}


.showDescription{
    position: absolute;
    width: 100%;
    background-color: darkblue;
    color: orange;
    transform: translateX(-100%) scaleX(0);
    opacity: 0;
    height: 100%;
    margin-left: -.6em;
    font-size: 25px;
    font-family: sans-serif;
    line-height: 320px;
    text-align: center;
    transition: 3s;
    top: 0;
}
.links{
    width: 310px;
    height: 310px;
}


.containerPokemon:hover .showDescription{
    transition: .8s;
    opacity: 1;
    background-color: rgba(1%, 1%, 8%, 90%);
    transform-origin: bottom left;
    transform: translateX(0) scaleX(1);
    top: 0;
}


.iconLoad{
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:0;
    background-color: white;
}

.iconLoad a{
    background-color: white;
    margin: 0 .5em;
    font-size: 25px;
    color:  red;
}





/*
menu pokemon
*/

.menuPokemon{
    margin-top: 0;
    background-color:orangered;
    color:white;
    padding: .3em;
}




























