
.pokemonApp{
    display: flex;
    justify-content: center;
    text-align: center;

}
.pokemon__container{
    border: none;
    width: 315px;
    padding: .3em;
    border-radius: 5px;
    box-shadow: 10px 10px 15px 10px #eee;
}
.pokemon__container:hover{
    cursor:pointer;
}
.back__page{
    background-color: darkred;
    border-radius: 50%;
    height:40px
}
.back__page:hover{
    transform: scale(.9);
}
.pokemon__title{

    color: rgba(0%, 1%, 40%, 80%);
    font-family: arial;
    margin:.3em 0 1em;
}
.specification{
    margin-top: 4em;
}

.title{
    color: green;
}
.separation{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}


.descriptionContainer{
    border: 1px solid #eee;
    border-radius: 8px;
    box-shadow: 1px 1px 15px 10px #eee;
}

.descriptionContainer .paragraph{
    color: #666;
    font-family: arial;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;

}





.menu{
    padding: 0 0;
    margin-top: -25px;
    position: sticky;
    /*line-height: 60px;*/
    top: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: arial;
    text-align: center;
    font-size: 25px;
    z-index: 1000;
    background-color: orangered;
    padding-right: 1em;
    margin-bottom: 3em;
}

.fa-long-arrow-alt-left{
    margin-top: -.5em;
}
.menu__title__pokemon{
   text-align: right;
    color: white;
    font-weight: 600;
    margin-top: .4em;
    transform : scale(.8);
    margin-right: -1em;
}

.margin{
    margin-top: -.4em;
}


@media screen and (min-width: 850px){
    .pokemonApp{
       text-align: center;
        width: 800px;
    }
    .pokemon__container{
        display: flex;
        width: auto;
    }
    .containerImagePokemon{
        display: flex;
        width: 300px;
        margin-left: 5em;
        margin-right: 3em;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
}



@media screen and (min-width: 900px){
    .pokemonApp{
        width: 910px;
    }
    .containerImagePokemon{
        display: flex;
        width: 300px;
        margin-left: 9em;
        margin-right: 3em;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }


}

@media screen and (min-width: 1000px){
    .pokemonApp{
        width: 950px;
    }
    .containerImagePokemon{
        display: flex;
        width: 300px;
        margin-left: 10em;
        margin-right: 9em;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }


}

@media screen and (min-width: 1050px){
    .pokemonApp{
        width: 1200px;
    }
    .containerImagePokemon{
        display: flex;
        width: 300px;
        margin-left: 16em;
        margin-right: 12em;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }


}

.loaderPokemon{
    animation: loaderPoke 6s 1500ms infinite linear backwards;
    transition: 1s;
    margin-top: -1.2em;
}
@keyframes loaderPoke{
    5%{
        transition: 1s;
        transform: scale(1.2);
    }
    20%{
        transition: 1s;
        transform: rotate(360deg);
    }
}



.scalarPoke{
    animation: scalarPokemon 3s linear forwards;
    transition:10s;
    transform: scale(.9);
}
@keyframes scalarPokemon{
    to{
        transition :10s;
        transform: scale(1) rotate(-5deg) translateX(-10px);
    }
}



