<!--
    menu  + title app
-->
<div>
    <ul class="menu--blue">
        <li class="letter4"><a href="#">Pokemons</a></li>
    </ul>
</div>

<div class="separator"></div>



<!--
    all pokemon app
-->


<div class="containerMainPokemon">
    <div class="containerPokemon blurtime" ng-repeat="pokemon in pokemonAll">

        <a href="#" class="reset__link">

<!--            title pokemon-->
            <h1 class="pokemonTitle letter4">{{pokemon.name}}</h1>

<!--            img pokemon-->
            <div class="container__imagePokemon">
                <img class="imagePokemon" ng-src="public/images/pokemons/{{pokemon.path}}" alt="">
            </div>

        </a>
        <div class="showDescription">Ver pokemon</div>

    </div>
</div>











