<!--
    menu  + title app
-->
<div class="menu">


    <!--back page button-->

        <button ng-click="backPage()" class="btn--rm">
            <i class="fas fa-long-arrow-alt-left letter4"></i>
        </button>

    <p><a href="#!/" title="INICIO" > <img   class="margin loaderPokemon" src="public/images/pokeball.png"></a></p>

    <p class="menu__title__pokemon letter3">{{onlyPokemon.name}}</p>
</div>


<div class="separator"></div>


<div class="separator"></div>



<!--
    all pokemon app
-->


<div class="pokemonApp ">


    <!--    container only 1 pokemon-->
    <div class="pokemon__container blurtime">
            <!-- title pokemon-->
            <!--  img pokemon-->
            <div class="containerImagePokemon">
                <h1 class="pokemon__title">{{onlyPokemon.name}}</h1>
                <img class="scalarPoke" ng-src="public/images/pokemons/{{onlyPokemon.path}}" alt="poke">
            </div>

<!--speficification pokemon-->
        <div class="specification">
           <h1 class="letter4 title ">Specification <span class="btn--rm minmin" ng-class="{'far fa-eye btn--yes' : switchInfo==1}" ng-click="hideInfo()"> {{textSwitch}} </span>  </h1>
            <article ng-hide="hideInformationPokemon">
               <p class="separation"> <span class="btn--rm min" title="{{onlyPokemon.type[0]}}">Tipo</span>   <span class="btn--add min">{{onlyPokemon.type[0]}}</span> </p>

                <p class="separation"> <span class="btn--rm min" title="{{onlyPokemon.abilities[0]}}">Habilidades</span>   <span class="btn--add min">{{onlyPokemon.abilities[0]}}</span> </p>

               <p class="separation"> <span class="btn--rm min" title="{{onlyPokemon.height}}">Altura</span>  <span class="btn--add min">{{onlyPokemon.height}}</span> </p>

                <p class="separation"> <span class="btn--rm min" title="{{onlyPokemon.weight}}"> Peso </span>  <span class="btn--add min">{{onlyPokemon.weight}}</span> </p>

                <p class="separation"> <span class="btn--rm min" title="{{onlyPokemon.categories}}">Categoría </span> <span class="btn--add min">{{onlyPokemon.categories}}</span class="btn--add"> </p>

                <p class="btn--yes min">Description</p>

                <!-- description pokemon-->
                <div class="descriptionContainer">
                    <p class="paragraph">{{onlyPokemon.description}}</p>
                </div>
            </article>
        </div>

    </div>



</div>




