<!--
    menu  + title app
-->
<div class="menu">


    <!--back page button-->

        <button ng-click="backPage()" class="btn--rm back__page">
            <i class="fas fa-long-arrow-alt-left letter4"></i>
        </button>

    <p class="menu__title__pokemon">{{onlyPokemon.name}}</p>
</div>


<div class="separator"></div>


<div class="separator"></div>



<!--
    all pokemon app
-->


<div class="pokemonApp">


    <!--    container only 1 pokemon-->
    <div class="pokemon__container blurtime">
            <!-- title pokemon-->
            <!--  img pokemon-->
            <div class="containerImagePokemon">
                <h1 class="pokemon__title">{{onlyPokemon.name}}</h1>
                <img ng-src="public/images/pokemons/{{onlyPokemon.path}}" alt="poke">
            </div>

<!--speficification pokemon-->
        <div class="specification">

           <h1 class="letter4 title ">Specification</h1>

           <p class="separation"> <span class="btn--rm min">Tipo</span>   <span class="btn--add min">{{onlyPokemon.type[0]}}</span> </p>

            <p class="separation"> <span class="btn--rm min">Habilidades</span>   <span class="btn--add min">{{onlyPokemon.abilities[0]}}</span> </p>

           <p class="separation"> <span class="btn--rm min">Altura</span>  <span class="btn--add min">{{onlyPokemon.height}}</span> </p>

            <p class="separation"> <span class="btn--rm min"> Peso </span>  <span class="btn--add min">{{onlyPokemon.weight}}</span> </p>

            <p class="separation"> <span class="btn--rm min">Categoria </span> <span class="btn--add min">{{onlyPokemon.categories}}</span class="btn--add"> </p>

            <p class="btn--yes min">Description</p>

            <!-- description pokemon-->
            <div class="descriptionContainer">
                <p class="paragraph">{{onlyPokemon.description}}</p>
            </div>

        </div>
    </div>



</div>




