<!--
    menu  + title app
-->
<div>
    <ul class="menu--blue">
        <li class="letter4"><a href="#">{{titleMenu}}</a></li>
    </ul>
</div>

<div class="separator"></div>

<!--recharge page-->
<div class="iconLoad">
    <a href="/" class="fas fa-sync-alt" ></a>
</div>

<form class="form" style="position: sticky;top:0; z-index: 100;">
    <input type="text"
           placeholder="Buscar pokemon"
           ng-model="searchPokemon">
</form>
<div class="separator"></div>



<!--
    all pokemon app
-->

<!--container all pokemon-->
<div class="containerMainPokemon">

        <!--    container only 1 pokemon-->
    <div class="containerPokemon blurtime" ng-repeat="pokemon in pokemonAll | filter:searchPokemon">

        <a href="#!/{{pokemon.name}}" class="reset__link links">

            <!-- title pokemon-->
            <h1 class="pokemonTitle letter4">{{pokemon.name}}</h1>

            <!--  img pokemon-->
            <div class="container__imagePokemon">
                <img class="imagePokemon" ng-src="public/images/pokemons/{{pokemon.path}}" alt="">
            </div>



            <!-- poster -->
            <div class="showDescription"
                 title="{{pokemon.name}}"
                 ng-mouseover="overOnPoster(pokemon.name)"
                 ng-mouseleave="overOnLeave()"> Ver pokemon </div>

        </a>


    </div>
</div>











